[submodule "puppet/modules/mysql"]
	path = puppet/modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "puppet/modules/ntp"]
	path = puppet/modules/ntp
	url = https://github.com/puppetlabs/puppetlabs-ntp.git
[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "puppet/modules/memcached"]
	path = puppet/modules/memcached
	url = https://github.com/danakim/puppet-memcached.git
[submodule "puppet/modules/firewall"]
	path = puppet/modules/firewall
	url = https://github.com/puppetlabs/puppetlabs-firewall.git
[submodule "puppet/modules/php"]
	path = puppet/modules/php
	url = https://github.com/obokaman-com/puppet-php.git
[submodule "puppet/modules/epel"]
	path = puppet/modules/epel
	url = https://github.com/stahnma/puppet-module-epel
[submodule "puppet/modules/apache"]
	path = puppet/modules/apache
	url = https://github.com/obokaman-com/puppetlabs-apache.git
[submodule "puppet/modules/sphinx"]
	path = puppet/modules/sphinx
	url = git://github.com/vurbia/puppet-sphinx.git
